/*APPLIED FOR ALL*/
*{
    font-family: Helvetica,Tahoma,Arial,Sans-serif;
}
body {
    color: #424242;
    margin: 0;
}

h1{
    text-align: center;
    padding-top: 130px;
}



/*NAVIGATIONS, HEADING*/

nav{
    font-size: 20px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #cacaca;
}

.navcategories{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto; 
}

li{
    padding: 5px;   
    display: inline-block;
}

a{
    color:#252f7b   ;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: #f95031;
}

.navaccounts{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

/*MEDIA QUERY FOR HEADER*/
@media only screen and (max-width: 1275px){
    .navaccounts{
        padding: 20px;
    }
  
}

@media only screen and (max-width: 660px) {
    nav{display: block;
    }
    .navaccounts{
        padding: 20px;
    }
    .display{
        padding-top: 110px;
    }
}

@media only screen and (max-width: 340px){
    .display{
        padding-top: 150px;
        margin-left: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 300px){
    .display{
        padding-top: 170px;
    }
}







/*DISPLAY*/
.display_content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    padding-top: 30px;
    margin-bottom: 150px;
    text-align: center;
}

.display{
    background-color: #eff0f5;
    overflow: hidden;
}


.images {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
}

.images img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.display_content a{
    color: #424242;
}

@media only screen and (max-width: 805px) {
    .display_content{
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 340px){
    .display_content{
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/*CART, TABLE*/
table{
    text-align: left;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 300px;
}
.list{
    background-color: #ffffff;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

th, td{
    padding: 10px;
}
th{
    text-align: center;
    border-bottom: 2px solid #eff0f5;
}

tr:hover{
    background-color: #ececec;
}
.shipping{
    border-top: 2px solid #eff0f5;
}

@media only screen and (max-width: 780px) {
    .hide1{
      display: none;
    }
  }

@media only screen and (max-width: 700px) {
    .hide2{
      display: none;
    }
  }



/*FOR ACCOUNT*/

#editaccount{
    text-align: right;
    margin-right: 5%;
}
button{
    background-color: #28a745;
    color: white;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    border-radius: 4px;
}

.cart input{
    width: 100%;
}

/*products*/
.display img{
        width: 300px;
        height: 300px;
        object-fit: cover;
}

.addtocart{
    display: inline-flex;
    text-align: justify;
    height: 20px;
}

.addtocart button{
    background-color: #007bff;
    width: 100px;
}

.addtocart input{
    height: 20px;
}



/*FOOTER*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding-left: 350px;
    padding-right: 350px;
}

footer .icon{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.follow{
    padding-right: 30px;
    padding-right: 30px;
}

.copyright{
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
    color: #424242;
}

@media only screen and (max-width: 1275px){
    footer{
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media only screen and (max-width: 700px){
    footer{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 400px){
    footer{
        padding-left: 50px;
        padding-right: 50px;
    }
    .follow{
        padding-right: 10px;
        padding-right: 10px;
    }
}

/*    footer{
    align-items: center;
    display: flex;
    background: #ffffff;
    justify-content: center;
}

.follow{
    display: inline-block;
    padding-right: 100px;
}

.icon{
    display: inline-block;
}
.copyright{
    display: inline-block;
    padding-left: 200px;
}

@media only screen and (max-width: 805px) {
    .follow{
        padding-right: 50px;
    }
    .copyright{
        padding-left: 50px;
    }
}*/